@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Castoro',serif;
}
:root{
    --primary-color: #00b7ff;
    --secondary-color: #69d2f5;
    --text-color: #000000;
    --background-color: #f3f3f3;

    --h1-size: 2.5rem;
    --h2-size: 2rem;
    --small-size: .8rem;
}
*,::before,::after{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,p{
    margin: 0;
}
.form_design_1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--background-color);
    width: 30%;
    height: 70%;
    border-radius: .5rem;
    box-shadow: 0 4px 4px var(--secondary-color);
}
@media screen and (max-width: 990px) {
    .form_design_1 {
        width: 70%;
    }
}
@media screen and (max-width: 780px){
    body{
        width: 100%;
        height: 100vh;
    }
    .form_design_1{
        width: 80%;
    }
}
.process{
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.stp1, .stp2, .stp3{
    background: var(--background-color);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primary-color);
    font-weight: bold;
    position: relative;
}
/* .stp1{
    background: var(--primary-color);
    color: var(--background-color);
} */    
.progress_bar1, .progress_bar2{
    background: var(--text-color);
    width: 40%;
    height: 1px;
    margin-top: 15px;
}
.form_{
    margin-top: .5rem;
    line-height: 1.4;
    text-align: center;
    height: 100%;
}
.header{
    color: var(--primary-color);
    line-height: 1.5;
    margin-bottom: 20px;
}
.header span{
    color: var(--text-color);
    text-transform: uppercase;
    font-size: var(--small-size);
}
form{
    padding: 0 40px;
}
input{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: medium;
}
input:focus {
    outline: none;
}
input:last-child{
    background: var(--primary-color);
    border: none;
    cursor: pointer;
}
input:last-child:focus{
    outline: none;
}
input:last-child:hover{
    transition: all .3s ease-in-out;
    background: var(--secondary-color);
    color: var(--background-color);
}
.accept{
    text-align: left;
}
